---
import { isLoggedIn, getTicket } from "../../../utils"
import MainLayout from "../../../layouts/MainLayout.astro"
import TicketForm from "../../../components/TicketForm.astro"

// check if already logged in
const token = (Astro.cookies.get("token") || {})?.value
const tokenExpiry = (Astro.cookies.get("tokenExpiry") || {})?.value

if (!isLoggedIn({ token, tokenExpiry })) {
    return Astro.redirect("/login")
}

const { id } = Astro.params
const ticket = await getTicket(token, id)

const errorTicket = (Astro.cookies.get("errorTicket") || {})?.value
const successTicket = (Astro.cookies.get("successTicket") || {})?.value
Astro.cookies.set("errorTicket", "", {path: `/dashboard/editticket/${id}/`, expires: new Date()})
Astro.cookies.set("successTicket", "", {path: `/dashboard/editticket/${id}/`, expires: new Date()})
---

<MainLayout title="Dashboard">
    <h1>Editar Ticket</h1>
    <TicketForm token={token} item={ticket} errorMsg={errorTicket} successMsg={successTicket} />
    <a href="/dashboard">Volver</a>
</MainLayout>