---
import { isLoggedIn, getShop } from "../../../utils"
import MainLayout from "../../../layouts/MainLayout.astro"
import ShopForm from "../../../components/ShopForm.astro"

// check if already logged in
const token = (Astro.cookies.get("token") || {})?.value
const tokenExpiry = (Astro.cookies.get("tokenExpiry") || {})?.value

if (!isLoggedIn({ token, tokenExpiry })) {
    return Astro.redirect("/login")
}

const { id } = Astro.params
const ticket = await getShop(token, id)

const errorShop = (Astro.cookies.get("errorShop") || {})?.value
const successShop = (Astro.cookies.get("successShop") || {})?.value
Astro.cookies.set("errorShop", "", {path: `/dashboard/editshop/${id}/`, expires: new Date()})
Astro.cookies.set("successShop", "", {path: `/dashboard/editshop/${id}/`, expires: new Date()})
---

<MainLayout title="Dashboard">
    <h1>Editar Tienda</h1>
    <ShopForm token={token} item={ticket} errorMsg={errorShop} successMsg={successShop} />
    <a href="/dashboard">Volver</a>
</MainLayout>